before_install:
 - apt-get update
 - apt-get dist-upgrade
 - wget https://archive.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip
 - unzip -qq apache-maven-3.3.9-bin.zip
 - export M2_HOME=$PWD/apache-maven-3.3.9
 - export PATH=$M2_HOME/bin:$PATH

sudo: false
addons:
  apt:
    packages:
      - oracle-java8-installer

language: java
jdk:
  - oraclejdk8
install:
  - sh -c 'mvn install -DskipTests=true'
script:
  - mvn -Dlogback.configurationFile=logback.xml -Dcoverage.port=random -Dcoverage.securePort=random clean package cobertura:cobertura coveralls:report -P coverage

branches:
  only:
    - master
